In [1]:
import pandas as pd

df = pd.read_csv('/content/dataset_sdn.csv')

y = df.iloc[:,-1]
y

0         0
1         0
2         0
3         0
4         0
         ..
104340    0
104341    0
104342    0
104343    0
104344    0
Name: label, Length: 104345, dtype: int64

In [2]:
X_x = pd.get_dummies(df.Protocol, prefix='Protocol')
X_x

        Protocol_ICMP  Protocol_TCP  Protocol_UDP
0                   0             0             1
1                   0             0             1
2                   0             0             1
3                   0             0             1
4                   0             0             1
...               ...           ...           ...
104340              1             0             0
104341              1             0             0
104342              1             0             0
104343              1             0             0
104344              1             0             0

[104345 rows x 3 columns]

In [3]:
df.insert(22,'Protocol_ICMP',X_x['Protocol_ICMP'])
df.insert(23,'Protocol_TCP',X_x['Protocol_TCP'])
df.insert(24,'Protocol_UDP',X_x['Protocol_UDP'])

In [4]:
df = df.drop(columns=['Protocol'])
df = df.drop(columns=['label'])

In [5]:
df

           dt  switch        src  ... Protocol_ICMP  Protocol_TCP  Protocol_UDP
0       11425       1   10.0.0.1  ...             0             0             1
1       11605       1   10.0.0.1  ...             0             0             1
2       11425       1   10.0.0.2  ...             0             0             1
3       11425       1   10.0.0.2  ...             0             0             1
4       11425       1   10.0.0.2  ...             0             0             1
...       ...     ...        ...  ...           ...           ...           ...
104340   5262       3   10.0.0.5  ...             1             0             0
104341   5262       3   10.0.0.5  ...             1             0             0
104342   5262       3  10.0.0.11  ...             1             0             0
104343   5262       3  10.0.0.11  ...             1             0             0
104344   5262       3  10.0.0.11  ...             1             0             0

[104345 rows x 24 columns]

In [6]:
zz = pd.get_dummies(df.src, prefix='src')
zz

        src_10.0.0.1  src_10.0.0.10  ...  src_10.0.0.8  src_10.0.0.9
0                  1              0  ...             0             0
1                  1              0  ...             0             0
2                  0              0  ...             0             0
3                  0              0  ...             0             0
4                  0              0  ...             0             0
...              ...            ...  ...           ...           ...
104340             0              0  ...             0             0
104341             0              0  ...             0             0
104342             0              0  ...             0             0
104343             0              0  ...             0             0
104344             0              0  ...             0             0

[104345 rows x 19 columns]

In [7]:
ff = pd.get_dummies(df.dst, prefix='dst')
ff

#final =  pd.concat([ff,zz],axis = 1)
#final_df = pd.concat([df,ff],axis =1)
final_df = pd.concat([df,y],axis = 1)
final_df

           dt  switch        src  ... Protocol_TCP  Protocol_UDP  label
0       11425       1   10.0.0.1  ...            0             1      0
1       11605       1   10.0.0.1  ...            0             1      0
2       11425       1   10.0.0.2  ...            0             1      0
3       11425       1   10.0.0.2  ...            0             1      0
4       11425       1   10.0.0.2  ...            0             1      0
...       ...     ...        ...  ...          ...           ...    ...
104340   5262       3   10.0.0.5  ...            0             0      0
104341   5262       3   10.0.0.5  ...            0             0      0
104342   5262       3  10.0.0.11  ...            0             0      0
104343   5262       3  10.0.0.11  ...            0             0      0
104344   5262       3  10.0.0.11  ...            0             0      0

[104345 rows x 25 columns]

In [8]:
final_df = final_df.drop(columns=['src','dst'])
final_df

           dt  switch  pktcount  ...  Protocol_TCP  Protocol_UDP  label
0       11425       1     45304  ...             0             1      0
1       11605       1    126395  ...             0             1      0
2       11425       1     90333  ...             0             1      0
3       11425       1     90333  ...             0             1      0
4       11425       1     90333  ...             0             1      0
...       ...     ...       ...  ...           ...           ...    ...
104340   5262       3        79  ...             0             0      0
104341   5262       3        79  ...             0             0      0
104342   5262       3        31  ...             0             0      0
104343   5262       3        31  ...             0             0      0
104344   5262       3        31  ...             0             0      0

[104345 rows x 23 columns]

In [9]:
final_df.isna().sum()
final_df['rx_kbps'] = final_df['rx_kbps'].fillna(0)
final_df['tot_kbps'] = final_df['tot_kbps'].fillna(0)
final_df = final_df.astype('int64') 
final_df

           dt  switch  pktcount  ...  Protocol_TCP  Protocol_UDP  label
0       11425       1     45304  ...             0             1      0
1       11605       1    126395  ...             0             1      0
2       11425       1     90333  ...             0             1      0
3       11425       1     90333  ...             0             1      0
4       11425       1     90333  ...             0             1      0
...       ...     ...       ...  ...           ...           ...    ...
104340   5262       3        79  ...             0             0      0
104341   5262       3        79  ...             0             0      0
104342   5262       3        31  ...             0             0      0
104343   5262       3        31  ...             0             0      0
104344   5262       3        31  ...             0             0      0

[104345 rows x 23 columns]

In [10]:
X = final_df.iloc[:,:-1]
y = final_df.iloc[:,-1]
print(X)
print(y)

           dt  switch  pktcount  ...  Protocol_ICMP  Protocol_TCP  Protocol_UDP
0       11425       1     45304  ...              0             0             1
1       11605       1    126395  ...              0             0             1
2       11425       1     90333  ...              0             0             1
3       11425       1     90333  ...              0             0             1
4       11425       1     90333  ...              0             0             1
...       ...     ...       ...  ...            ...           ...           ...
104340   5262       3        79  ...              1             0             0
104341   5262       3        79  ...              1             0             0
104342   5262       3        31  ...              1             0             0
104343   5262       3        31  ...              1             0             0
104344   5262       3        31  ...              1             0             0

[104345 rows x 22 columns]
0         0
1         0
2         0
3         0
4         0
         ..
104340    0
104341    0
104342    0
104343    0
104344    0
Name: label, Length: 104345, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=109)

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [17]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [18]:
from sklearn.metrics import classification_report
target_names = ['0', '1']
print(classification_report(y_test, y_pred, target_names=target_names))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     12718
           1       1.00      1.00      1.00      8151

    accuracy                           1.00     20869
   macro avg       1.00      1.00      1.00     20869
weighted avg       1.00      1.00      1.00     20869

In [19]:
 from sklearn.metrics import accuracy_score

 acc = accuracy_score(y_test, y_pred)
 print(acc)

1.0

In [20]:
 from sklearn.metrics import accuracy_score
y_pred_train = clf.predict(X_train)

acc_c = accuracy_score(y_train, y_pred_train)
print(acc_c)

1.0